<launch>

  <!--PARAMS-->
  <param name="use_sim_time" value="false"/>
  
  <!--GPS-->

  <node name="gps_node"  pkg="gpsd_client"   type="gpsd_client" output="screen">	
<!-- 	<remap from="/fix" to="fix_noframe"/>
 -->  </node>

<!--   <node name="gps_repub" pkg="hal_launch" type="gps_frame_pub.py" />
 -->
  <!--IMU-->
  <arg name="razor_config_file" default="$(find hal_launch)/config/my_razor.yaml"/>
  <node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="screen">
    <rosparam file="$(arg razor_config_file)" command="load"/>
  </node>

 <!-- <include file="$(find hal_launch)/launch/robot_localization.launch"/>-->

  <!--Navigation Estimator-->
  <node name="nav_estimator" pkg="nav_estimation" type="estimate.py" output="screen"/>

</launch>
