[submodule "rover_ws/src/hrl-kdl"]
	path = rover_ws/src/hrl-kdl
	url = https://github.com/gt-ros-pkg/hrl-kdl.git
[submodule "DocumentationImages"]
	path = DocumentationImages
	url = https://github.com/BYUMarsRover/DocumentationImages.git
