<launch>
    <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node" output="screen" >
		<param name="video_device" value="/dev/video1" />
		<param name="image_width" value="640" />
		<param name="image_height" value="480" />
		<param name="pixel_format" value="yuyv" />
		<param name="framerate" value="60" />
		<param name="camera_frame_id" value="usb_cam" />
		<param name="io_method" value="mmap"/>
		<!-- <param name="camera_info_url" value="$(find nav_estimation)/param/eyecalib.txt" /> 
		<param name="camera_name" value="eye_camera" /> -->
    </node>
</launch>