<launch>
  <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find hal_description)/urdf/rover_arm.xacro'" />

  <param name="joy_node/dev" value="/dev/input/js0" />
    <node pkg="joy" type="joy_node" name="joy_node">
    </node>
  
  <!-- send fake joint values -->
  <node name="Xbox_controller" pkg="hal_control" type="arm_control.py" output="screen">
  <remap from="/joy_arm" to="/joy"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="joint_states" to="joint_cmd" />
  </node>
  
  <!-- IK Node -->
  <include file="$(find arm_kinematics)/launch/IK.launch" />
  
  
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hal_description)/launch/rrbot.rviz"/>

</launch>
