<launch>

  <node name="inertial_sense" pkg="inertial_sense" type="inertial_sense_node" output="screen">
	<param name="port" value="/dev/rover/ins"/>
	<param name="GPS_ref_lla" value="[40.247447, -111.647557, 1387.0]"/>
	<param name="GPS_ang_xyz" value="[0.0, 0.05, 0.5]"/>
  </node>

  <node name="estimator" pkg="ins" type="new_estimate.py" output="screen">
  </node>

</launch>
