<launch>
  <!-- Setup joystick param -->
  <param name="joy_node_arm/dev" value="/dev/input/js0" />

  <!-- Launch Joystick node -->
  <node pkg="joy" type="joy_node" name="joy_node_arm" output="screen">
    <remap from="/joy" to="/joy_arm"/>
  </node>

  <!-- Launch URDF -->
  <include file="$(find rover_description)/launch/urdf.launch" />

  <!-- Launch IK Node -->
  
  <include file="$(find arm_kinematics)/launch/IK.launch" />

  <!-- Launch Arm Control Node -->
  <node pkg="hal_control" type="arm_control.py" name="arm_control" output="screen" />
  
  
</launch>
