<launch>

  <node respawn="true" pkg="joy"
        type="joy_node" name="joy_drive" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
    <remap from="joy" to="joy_drive" />
  </node>
  <node pkg="arm_teleop" type="xbox_control.py" name="xbox_control">
  </node>
  
</launch>