<launch>



  <!--  <node pkg="hal_control" type="drive_control.py" name="drive_control">
       <remap from="rover_state_cmd" to="rover_state_cmd" />
    </node>-->
 <!-- <node respawn="true" pkg="joy"
        type="joy_node" name="joy_drive" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
    <remap from="joy" to="joy_drive"/>
  </node>-->

  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="framerate" value="20" />
    <param name="io_method" value="mmap"/>
  </node>

</launch>
